@charset "UTF-8";






header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	height: 10vh;
	 border: 1px solid blue; 
	padding-right: 30px;
	background : green;
}






header div {
	font-size: 30px;
	width: 10%;
	height: 40px;
	 border: 1px solid red; 
	text-align: center;
	margin: 10px;
}

footer {
	box-sizing: border-box;
	width: 100vw;
	height: 10vh;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 10vh;
	background : black;
	color : white;
}

a {
	text-decoration: none;
}
body{
	height: 100vh;
	width: 100vw;
	background-image: url('../img/bgmain.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	position: relative;

}

.wrapper{
	height: 100vh;
	width: 100vw;
	opacity: 0.4;
	position: absolute;
	background: black;
}
.aside{

	width: 30vw;
	height: 85vh;
	background: white;
	position: absolute;
	top:5%;
	right:0;
	padding-left: 30px;
	text-align: center;
	



}



* {
	 font-family: 'Gowun Dodum', sans-serif;
}




.mainbox{
	width: 30vw;
	height: 50vh;
	border: 1px solid red;
	
	


}

.title{
	color: white;
	font-weight: 900;
	font-size: 60px;
	opacity: 1;
	position: absolute;
	top : 20%;
	left : 20%;
	z-index: 10;

}

#free{
	font-size: 50px;
}

#reco{
	font-size: 60px;
}
#you{font-size: 50px;
	
}

#logo{
	width :100%;
}

#logo img{
	width :100%;
	height: 50vh;
		
	margin: 0 auto;
	position: relative;
	
	
}

.selectWrapper{
	width :70%;
	position: absolute;
	top: 50%;
	left: 17%;
	
}

#recipe{
	width :100%;
	margin-top :20px;
	
}
#try{
	margin : 20px;
}

