@charset "UTF-8";

.fileDiv {
	flex-wrap: wrap;
}

#fileImg {
	width: 100px;
	height: 100px;
}

.container {
	box-sizing:border-box;
	width: 700px;
	margin: 0 auto;
	margin-top : 150px;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}

#attr_area {
	   box-sizing: border-box;
    width: 103%;
    min-height: 150px;
    height: 568px;
	padding: 10px;
	margin-left : -6px;
	overflow : scroll;
	/* border: 1px dotted #00f; */
}

#attr_area:empty::before {
	content: attr(data-placeholder);
	color: #999;
	font-size: .9em;

}

#attr_area::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#form{
	width : 100%;
}

textarea{
	width: 100%;
	position: absolute;
	top: -140%;
	
}
.input-warp{
	position: relative;

}

