@charset "UTF-8";
body {
	display: flex;
}

.wrapper {
	box-sizing: border-box;
	width: 80%;
	height: 100vh;
	border: 1px solid red;
}

.wrapper .header {
	box-sizing: border-box;
	width: 100%;
	height: 10vh;
	border: 1px solid black;
	position: relative;
	padding-left: 70px;
	padding-right: 70px;
}

.wrapper .resultWrapper {
	box-sizing: border-box;
	width: 100%;
	height: 90vh;
	border: 1px solid green;
	overflow: auto;

	flex-wrap: wrap;
	padding-top: 10px;
}

.wrapper .resultWrapper .result {
	box-sizing: border-box;
	margin : 10px auto;
	width: 90%;
	height: 100px;
	border: 1px solid blue;
	margin-bottom: 20px;
}

aside {
	box-sizing: border-box;
	width: 20%;
	height: 100vh;
	border: 1px solid black;
}

#logo {
	box-sizing: border-box;
	width: 100%;
	height: 10vh;
	border: 1px solid green;
}

a {
	text-decoration: none;
	cursor: pointer;
}
.articleWrapper{

	box-sizing: border-box;
	width: 100%;
	height: 60vh;
	border: 1px solid red;
	overflow: auto;
}

.article{
	box-sizing: border-box;
	width: 100%;
	height: 20vh;
	border: 1px solid blue;
	margin-bottom: 10px;
}
.title{
	box-sizing: border-box;
	width: 70%;
	height: 10vh;
	border: 1px solid blue;
	line-height: 10vh;

}
#count{
	width: 100%;
	height: 20vh;
	border: 1px solid red;
	line-height: 20vh;
}