<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.midterm.foodSNS.freerecipe.mapper.IFreeRecipeMapper">

	<insert id="uploadRecipe">
		INSERT INTO Mfreeboard
		(title, content, writer,weather,condition2,feeling)
		VALUES (#{title}, #{content}, #{writer}, #{weather}, #{condition2}, #{feeling})
	</insert>
	
	<select id="getRecipeList" resultType="board">
		SELECT * FROM Mfreeboard
		WHERE writer = #{userId}
	</select>
	
	<select id="getRecipe" resultType="board">
		SELECT * FROM Mfreeboard
		WHERE bno = #{bno}
	</select>
	
		<delete id="deleteR">
		delete from Mfreeboard where bno =#{bno}
	</delete>
	
	<update id="modiUploadRecipe">
		UPDATE Mfreeboard SET
		title=#{title},
		content = #{content},
		weather=#{weather},
		condition2 =#{condition2},
		feeling = #{feeling}
		WHERE bno =#{bno}
	</update>
	


	 <select id="searchRecipe" resultType="recipe">
        SELECT * FROM cookDB
        WHERE foodname LIKE CONCAT('%', #{query}, '%')
    </select>
    
    <select id="searchUserRecipe" resultType="board">
        SELECT * FROM Mfreeboard
        WHERE title LIKE CONCAT('%', #{query}, '%')
    </select>

 

</mapper>