<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.midterm.foodSNS.result.mapper.IResultMapper">


	<select id="recommand" resultType="recipe">	
	SELECT * FROM cookDB WHERE weather= #{weather} and condition2 = #{condition2} and feeling = #{feeling}	
	</select>
	
	<select id="getuserRecipe" resultType="board">
	SELECT * FROM Mfreeboard WHERE weather= #{weather} and condition2 = #{condition2} and feeling = #{feeling}	
	</select>


	<select id="recipeDetail" resultType="recipe">
		SELECT * FROM cookDB
		WHERE cooknum = #{cooknum}
	</select>
	
	<select id="getLike" resultType="int">
		SELECT COUNT(*) FROM likeDB
		WHERE cooknum = #{cooknum}
	</select>
	
	<select id="chkLike" resultType="int">
		SELECT COUNT(*) FROM likeDB
		WHERE cooknum = #{cooknum} AND user_id = #{userId}
	</select>
	
	<insert id="insertLike">
		INSERT INTO likeDB
		(cooknum, user_id)
		VALUES (#{cooknum}, #{userId})
	</insert>
	
	<delete id="deleteLike">
		DELETE FROM likeDB
		WHERE cooknum = #{cooknum} AND user_id = #{userId}
	</delete>
	
	

</mapper>