<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.midterm.foodSNS.user.mapper.IUserMapper">

	<resultMap type="user" id="userMap">
		<result property="userName" column="user_name" />
		<result property="userPhone1" column="user_phone1" />
		<result property="userPhone2" column="user_phone2" />
		<result property="userEmail1" column="user_email1" />
		<result property="userEmail2" column="user_email2" />
		<result property="addrBasic" column="addr_basic" />
		<result property="addrDetail" column="addr_detail" />
		<result property="addrZipNum" column="addr_zip_num" />
		<collection property="userBoardList" resultMap="list" />
	</resultMap>



	<insert id="join">
		INSERT INTO Musers
		(user_id, user_pw, user_name, user_phone1,
		user_email1,
		user_email2, addr_basic, addr_detail,
		addr_zip_num)
		VALUES(#{userId}, #{userPw}, #{userName}, #{userPhone1},
		#{userEmail1},
		#{userEmail2}, #{addrBasic},
		#{addrDetail}, #{addrZipNum})
	</insert>


	<select id="idCheck" resultType="int">
		SELECT count(*) FROM Musers
		WHERE user_id = #{id}
	</select>

	<select id="login" resultType="string">
		SELECT user_pw FROM Musers
		WHERE
		user_id = #{id}
	</select>

	<select id="getInfo" resultMap="userMap">
		SELECT
		user_name, user_phone1,
		user_email1, user_email2, addr_basic,
		addr_detail,
		addr_zip_num,
		f.bno,
		f.title,
		f.reg_date
		FROM users u
		LEFT JOIN freeboard f
		ON u.user_id = f.writer
		WHERE
		u.user_id = #{id}
		ORDER BY f.bno DESC
		LIMIT
		#{paging.pageStart},
		#{paging.cpp};
	</select>

	<select id="userInfo" resultType="user">
		SELECT * FROM Musers
		WHERE
		user_id = #{id}
	</select>


	<!-- 회원 탈퇴를 위한 비밀번호 체크 -->
	<select id="passChk" resultType="int">
	SELECT COUNT(*) FROM Musers
	WHERE user_id = #{userId}
	 AND user_pw = #{userPw}
	</select> 

	
	<!-- 회원 탈퇴 -->
	<delete id="userDelete">
	DELETE FROM Musers
	WHERE user_id = #{userId}
	</delete> 



	<update id="profilemodify">
		UPDATE Musers
		SET upload_path = #{uploadPath},
		file_loca = #{fileLoca},
		file_name = #{fileName},
		file_real_name =
		#{fileRealName},
		user_nick=#{userNick},
		message=#{message}
		WHERE user_id
		= #{userId}
	</update>


	<insert id="dbRegist">
		INSERT INTO cookDB
			(foodname,titleimg,ingredient,tip,text1,text2,text3,text4,
			img1,img2,img3,img4)
		VALUES(#{foodname},#{titleimg},#{ingredient},#{tip},
		#{text1},#{text2},#{text3},#{text4},
			#{img1},#{img2},#{img3},#{img4})
	</insert>
	
	<update id="updateMusers">
        UPDATE Musers
        SET user_name = #{userName}, user_pw = #{userPw}, user_phone1 = #{userPhone1},
        user_email1 = #{userEmail1}, user_email2 = #{userEmail2},
        addr_basic = #{addrBasic}, addr_detail = #{addrDetail}, addr_zip_num = #{addrZipNum}
        WHERE user_id = #{userId}
    </update>








</mapper>